.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.basic-details-right {
  width: 75%;
  p {
    text-align: justify;
  }
}


.price-quantity-subTotal {
  display: flex;
  flex-flow: column;
}
